/**
 * Elemental block styles
 *
 * These styles are shared across multiple block types
 */
.block {
    display: grid;
}

.block__h1, .block__h2 {
    margin: 0;
}

.block__h1 {
    @media (min-width: 750px) {
        line-height: 1.1;
    }
}

.block__h2 {
    font-size: 3.4rem;

    @media (min-width: 750px) {
        font-size: 4rem;
    }
}

/**
 * Content block styles
 */
.content-block {
    gap: 1.8rem;

    @media (min-width: 750px) {
        gap: 2rem;
    }
}

/**
 * Image and text block styles
 */
.image-and-text-block {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    @media (min-width: 750px) {
        flex-direction: row;
    }

    @media (min-width: 1170px) {
        gap: 10rem;
    }
}

/* Image always on top/first when layout stacks  */
.image-and-text-block__left-column {
    order: 1;

    @media (min-width: 750px) {
        order: 3;
    }
}

/* Image always first when Left option slected */
.image-and-text-block--left {
    .image-and-text-block__left-column {
        order: 1;
    }
}

.image-and-text-block__right-column {
    align-self: center;
    display: grid;
    flex-shrink: 0;
    gap: 2.5rem;
    order: 2;

    @media (min-width: 750px) {
        width: clamp(34rem, 48%, 50rem);
        gap: 3rem;
    }
}

.image-and-text-block__button {
    font-weight: var(--font-weight-semibold);
}
