/* add chevron if item has child menu */
.menu__item--has-submenu > .menu__link::after {
    content: url('../images/chevron--down--white.svg');
    display: inline-block;
    margin-left: 0.5rem;
    transition: var(--transition-default);
}

/* chevron hover animation, also applied on submenu hover */
.menu__item--has-submenu:hover .menu__link::after,
.menu__item--has-submenu:focus-within .menu__link::after,
.menu__item--has-submenu:has(.submenu:hover) .menu__link::after {
    transform: rotate(-180deg);
}

/* submenu */
.submenu {
    opacity: 0;
    visibility: hidden;
}

/* Mobile submenu */
.mobile-submenu-container {
    display: grid;
    grid-template-rows: 0fr;
    transition: var(--transition-default);
    visibility: hidden;
}
